<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <title>DH Notes</title>
  </head>
  <body>
    <header class="flex-container">
      <div class="logo">
        <strong>DH-Notes</strong>
      </div>
      <div class="login">
        <a href="/login">
          <button type="button">
            <span class="login-span">Login</span>
            <i class="fas fa-sign-in-alt"></i>
          </button>
        </a>
      </div>
    </header>
    <main>
      <section class="notes-section">
        <h1>Notas:</h1>
        <section class="notes-container">
          <article class="note">
            <h2>Nota num 1</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat
              eum ut voluptas recusandae aliquam ipsam repudiandae asperiores
              dolorum nemo! Debitis, sapiente natus. Obcaecati cumque quo vel
              alias fugit libero similique. Obcaecati rem saepe impedit
              consequatur est voluptatem odio placeat? Voluptas aspernatur
              veritatis voluptate quis modi, exercitationem earum vitae est
              deserunt error asperiores totam veniam alias sed minima, iste
              ullam ipsam.
            </p>
          </article>
          <article class="note">
            <h2>Nota num 2</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat
              eum ut voluptas recusandae aliquam ipsam repudiandae asperiores
              dolorum nemo! Debitis, sapiente natus. Obcaecati cumque quo vel
              alias fugit libero similique. Obcaecati rem saepe impedit
              consequatur est voluptatem odio placeat? Voluptas aspernatur
              veritatis voluptate quis modi, exercitationem earum vitae est
              deserunt error asperiores totam veniam alias sed minima, iste
              ullam ipsam.
            </p>
          </article>
          <article class="note">
            <h2>Nota num 3</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat
              eum ut voluptas recusandae aliquam ipsam repudiandae asperiores
              dolorum nemo! Debitis, sapiente natus. Obcaecati cumque quo vel
              alias fugit libero similique. Obcaecati rem saepe impedit
              consequatur est voluptatem odio placeat? Voluptas aspernatur
              veritatis voluptate quis modi, exercitationem earum vitae est
              deserunt error asperiores totam veniam alias sed minima, iste
              ullam ipsam.
            </p>
          </article>
          <article class="note">
            <h2>Nota num 4</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat
              eum ut voluptas recusandae aliquam ipsam repudiandae asperiores
              dolorum nemo! Debitis, sapiente natus. Obcaecati cumque quo vel
              alias fugit libero similique. Obcaecati rem saepe impedit
              consequatur est voluptatem odio placeat? Voluptas aspernatur
              veritatis voluptate quis modi, exercitationem earum vitae est
              deserunt error asperiores totam veniam alias sed minima, iste
              ullam ipsam.
            </p>
          </article>
          <article class="note">
            <h2>Nota num 5</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat
              eum ut voluptas recusandae aliquam ipsam repudiandae asperiores
              dolorum nemo! Debitis, sapiente natus. Obcaecati cumque quo vel
              alias fugit libero similique. Obcaecati rem saepe impedit
              consequatur est voluptatem odio placeat? Voluptas aspernatur
              veritatis voluptate quis modi, exercitationem earum vitae est
              deserunt error asperiores totam veniam alias sed minima, iste
              ullam ipsam.
            </p>
          </article>
          <article class="note">
            <h2>Nota num 6</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat
              eum ut voluptas recusandae aliquam ipsam repudiandae asperiores
              dolorum nemo! Debitis, sapiente natus. Obcaecati cumque quo vel
              alias fugit libero similique. Obcaecati rem saepe impedit
              consequatur est voluptatem odio placeat? Voluptas aspernatur
              veritatis voluptate quis modi, exercitationem earum vitae est
              deserunt error asperiores totam veniam alias sed minima, iste
              ullam ipsam.
            </p>
          </article>
          <article class="note">
            <h2>Nota num 7</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat
              eum ut voluptas recusandae aliquam ipsam repudiandae asperiores
              dolorum nemo! Debitis, sapiente natus. Obcaecati cumque quo vel
              alias fugit libero similique. Obcaecati rem saepe impedit
              consequatur est voluptatem odio placeat? Voluptas aspernatur
              veritatis voluptate quis modi, exercitationem earum vitae est
              deserunt error asperiores totam veniam alias sed minima, iste
              ullam ipsam.
            </p>
          </article>
        </section>
      </section>
    </main>
  </body>
</html>
