/* Colors */
:root{
    --primary: #45A3D9;
    --primary-light: #88C4E7;
    --secondary: #edf16b;
}



@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Indie Flower', cursive;
}

body {
    margin: 0px;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 90vw;
    text-align: center;
}

.login {
    width: 10vw;
}

.login button {
    cursor: pointer;
    height: 2rem;
    background-color:var(--primary-light);
    border: none;
    border-radius: 5px;
}

.form-field input {
    width: 100%;
}

.form-field button {
    margin: auto;
    width: 50%;
    background-color: #88C4E7;
    border: none;
    border-radius: 2px;
}

button:hover {
    background-color: var(--primary);
}

header {
    height: 10vh;
}

main {
    height: 90vh;
    background-image: url('/img/background.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notes-section {
    width: 80vw;
    height: 80vh;
    background-color: white;
    border-radius: 0.5rem;
    padding: 1rem;
}

.notes-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    overflow: scroll;
    height: 80%;
}

.note {
    width: 200px;
    height: 200px;
    background-color: var(--secondary);
    overflow: hidden;
    margin: 10px;
    cursor: pointer;
}

.note h2 {
    margin: 0px;
}

.note p {
    font-size: 10px;
    height: 60%;
}

a, a:visited, a:active {
    text-decoration: none;
    color: black;
}

.btn-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

.btn-primary {
    width: 150px;
    cursor: pointer;
    height: 3em;
    background-color: var(--primary-light);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1em;
}

.btn-primary:hover {
    background-color: var(--primary);
}

.form-field .btn-danger {
    background-color: tomato;
}

.btn-danger:hover {
    background-color: red;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  input.title-input {
    width: 250px !important;
  }

  textarea.note-body {
    width: 80%;
}


/* Login view */
h1 {
    text-align: center;
}

.login-section {
    width: 50vw;
    min-height: 40vh;
    background-color: white;
    border-radius: 0.5rem;
    padding: 1rem;
}

.form-field {
    margin: auto;
    width: 80%;
    margin: 1rem auto; 
}

.password-field {
    position: relative;
}

.password-field i {
    position: absolute;
    right: 0.4rem;
    top: 0.3rem;
    color: gray;
}

.password-field i:hover {
    color: black;
    cursor: pointer;
}

p.error {
    color: red;
    margin: 0px;
    text-align: center;
    font-size: 10px;
    display: none;
}

.enable {
    display: block !important;
}

.mt-2 {
    margin-top: 2rem;
}

@media (max-width: 590px) {
    .notes-container {
        justify-content: center;
    }

    .login-span {
        display: none;
    }

    .login button {
        width: 90%;
    }

    .login-section {
        width: 70vw;
        height: 60vh;
        background-color: white;
        border-radius: 0.5rem;
        padding: 1rem;
    }

    .form-field button {
        width: 80%;
    }
}